<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>HELLO</h1>
{% for s in students %}
    <h1> name : {{ s.name }} addesss: {{ s.address }} age: {{ s.age }} phone : {{ s.ph_number }}</h1>
{% endfor %}

</body>
</html>