<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>matplot</title>
</head>
<body>
<img src="data:image/png;base64,{{ data }}" alt="" height="250" ,width="250">
</body>
</html>